In [3]:
import os
os.chdir("C:/Users/Administrator/Python_workspace/IPL")
import pandas as pd

In [5]:
ball_by_ball=pd.read_excel("Ball_by_Ball.xlsx")
match=pd.read_excel("Match.xlsx")
player = pd.read_excel("Player.xlsx")
player_match=pd.read_excel("Player_Match.xlsx")
season=pd.read_excel("Season.xlsx")
team=pd.read_excel("Team.xlsx")

In [7]:
ball_by_ball.head()

,Match_Id,Session_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,1,5,1,2,2,2,1,14,0,,,,,