In [4]:
import pandas as pd
import numpy as np
import os
os.chdir("D:/Term-2/MachineLearning/26-02-2019(clustering)/Activity Recognition from Single Chest-Mounted Accelerometer")

In [24]:
concat_df = pd.DataFrame()
for i in range(1,16):
    temp_df = pd.read_csv(str(i)+'.csv',header=None)
    concat_df = pd.concat( [concat_df, temp_df],axis=0 )

In [29]:
x=concat_df.drop(4,axis=1)
x.head()

     0     1     2     3
0  0.0  1502  2215  2153
1  1.0  1667  2072  2047
2  2.0  1611  1957  1906
3  3.0  1601  1939  1831
4  4.0  1643  1965  1879